.sender{
    text-align: end;
    display: flex;
    justify-self: end;
}

.reciever{
    text-align: start;
}
.message {
    font-weight: 500;
    margin: 3px;
    width: fit-content;
    background-color: #575654;
    color : white;
    padding: 2px 5px;
    border-radius: 10px;
}

.imageContainer {
    background-color: black
}

img{
    height: 40px;
    width: 40px;
}

.scroll-container::-webkit-scrollbar {
    width: 0px;
}